<div class="container">
  <div class="textbox">
    <h4>
      <p class="textColor">02</p>
      MEET YOUR CREW
    </h4>
    <img src="{{ crewName.images.webp }}" alt="" />

    <div class="info">
      <div
        *ngFor="let item of myData; let i = index"
        class="oval"
        [routerLink]="['/crew', item.name]"
      ></div>
    </div>
    <div class="role">{{ crewName.role }}</div>
    <div class="name">{{ crewName.name }}</div>
    <div class="bio">{{ crewName.bio }}</div>
  </div>
</div>
