@media(min-width: 375px){
    .navbar{
        display: flex;
        justify-content: space-between;

    }

    .logo{
        position: relative;
        width: 40px;
        height: 40px;
        left: 15px;
        top: 10px;
    }

    .hamburger{
        position: relative;
        width: 24px;
        height: 21px;
        right: 25px;
        top: 19px;
    }
         .desktopNav {
            display: none;
         }
    
}

@media(min-width: 1440px){
    .hamburger{
        display: none;
    }
    
    .desktopNav{
        position: relative;
        display: flex;
        right: 10px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        width: 830px;
        height: 96px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        top: 20px;
       
    }

    a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .logo{
        position: relative;
        top: 30px;
        left: 40px;
    }
    
    
}