<div class="background">
    <app-navbar></app-navbar>
    <div>
        <p class="spaceTravel">SO, YOU WANT TO TRAVEL TO </p>

        <h1>SPACE</h1>

        <p class="spaceDescrip">Lets face it; if you want to go to space, you might 
            as well geniunely go to outeer space and not hover kind of on the edge of it. Well sit back, and relax 
            because we'll give you a truly out of this world 
            experience.</p>

            <div class="explore">
                EXPLORE
            </div>
    </div>
</div>
