@media(min-width: 375px) {
    .background {
        position: relative;
        background-image: url("../../../assets/crew/background-crew-mobile.jpg");
        width: 375px;
        height: 667px;

    }

}

@media(min-width: 1440px) {
    .background {
        position: relative;
        background-image: url("../../../assets/crew/background-crew-desktop.jpg");
        width: 1440px;
        height: 900px;

    }

}